[user]
	email = kcz@kcz.sh
	name = cookie-s
	#signingkey = ###
[push]
	default = tracking
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[http]
	sslVerify = true
[gpg]
	program = gpg
[commit]
	#gpgsign = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
