[user]
	email = cookie-s@users.noreply.github.com
	name = cookie-s
	#signingkey = ###
[push]
	default = tracking
[core]
	editor = nvim
[http]
	sslVerify = true
[gpg]
	program = gpg2
[commit]
	#gpgsign = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
